.menu {
	&__image {
		border: solid 5px $color-primary;
		border-radius: 30px;
		overflow: hidden;
	}
	&__btn {
		margin-top: 50px;
		text-align: center;
	}
}

.menu {
	@include mq(tab) {
		&__btn {
			margin-top: 10vw;
		}
	}
}
