.about {
	padding-top: 60px;
	padding-bottom: calc(60px + 2vw);
	&__box {
		color: $color-primary;
		width: 40%;
		& + & {
			border-left: 3px solid $color-primary;
			padding-left: 4vw;
			width: 60%;
		}
	}
	&__subttl {
		font-size: 3.5vw;
		margin-top: 1vw;
		font-weight: bold;
		line-height: 1.5;
	}
	&__txt {
		margin: 50px 0;
		line-height: 2.5;
		font-weight: bold;
	}
}

/*--- tab ---*/
.about {
	@include mq(tab) {
		padding-top: 10vw;
		padding-bottom: 15vw;
		&__box {
			width: 100%;
			& + & {
				border: none;
				padding-left: 0;
				margin-top: 8vw;
				border-top: 1px solid $color-primary;
				width: 100%;
			}
		}
		&__subttl {
			font-size: 3.5vw;
			br {
				display: none;
			}
		}
		&__txt {
			margin: 8vw 0 0;
			font-size: 3.5vw;
		}
	}
}
