.gnav {
	&__item {
		line-height: 1.36;
		& + & {
			margin-top: 25px;
		}
	}
	a {
		position: relative;
		&::after {
			position: absolute;
			bottom: -5px;
			left: 0;
			content: "";
			width: 100%;
			height: 2px;
			background: #333;
			transform: scale(0, 1);
			transform-origin: left top;
			transition: transform 0.3s;
		}
		&:hover::after {
			transform: scale(1, 1);
		}
	}
}
