.service-card {
	&__inner {
		&::before {
			border-radius: 30px;
		}
		border-radius: 30px;
		&--01 {
			background-image: url(../images/home/service_monthly.png);
		}
		&--02 {
			background-image: url(../images/home/service_event.png);
		}
		&--03 {
			background-image: url(../images/home/service_consignment-sale.png);
		}
	}
	&__box {
		bottom: 0;
		border-radius: 0 0 30px 30px;
		padding: 26px 0;
		background-color: $color-primary;
		width: 100%;
		text-align: center;
	}
	&__ttl {
		color: #fff;
		font-family: ProximaNova;
		font-weight: 800;
		line-height: 1.8;
	}
	&__desc {
		color: $color-primary;
		font-family: ProximaNova;
		font-weight: 600;
		line-height: 2;
		margin-top: 25px;
		font-size: 14px;
	}
}
