.access {
	&__map {
		position: relative;
		width: 100%;
		padding-top: 35%; /* = height ÷ width × 100 */
		border: solid 5px $color-primary;
		border-radius: 30px;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__inner {
		margin-top: 40px;
	}
	&__box {
		font-weight: bold;
		width: 42%;
		img {
			border-radius: 30px;
			width: 96%;
		}
		& + & {
			border-left: 3px solid $color-primary;
			padding-left: 4vw;
			width: 58%;
		}
	}
	&__info {
		color: $color-primary;
		line-height: 2.5;
	}
}
