.news-card {
	&__link {
		border-radius: 30px;
		&::before {
			background-color: #000;
			opacity: 0.3;
			border-radius: 30px;
		}
	}
	&__box {
		font-family: ProximaNova;
		bottom: 40px;
		left: 20px;
		color: #fff;
		font-weight: 800;
	}
	&__date {
		font-size: 14px;
		line-height: 1.2;
	}
	&__ttl {
		line-height: 1.5;
		margin-top: 10px;
	}
}
