@charset "UTF-8";
/* color
---------------------*/
/* font-family
---------------------*/
@font-face {
  font-family: "Luckiest Guy";
  src: url("../fonts/LuckiestGuy.ttf") format("truetype");
}

/* z-index
---------------------*/
/* media query
---------------------*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  /* 2 */
  border-top-width: 1px;
  box-sizing: content-box;
  clear: both;
  color: inherit;
  /* 1 */
  height: 0;
  margin: 0;
  /* 1 */
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

img {
  height: auto;
  max-width: 100%;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  vertical-align: middle;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-family: Arial, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  position: relative;
}

.container {
  margin-left: 16.837vw;
  padding: 0 2vw;
}

@media screen and (max-width: 1023px) {
  .container {
    margin-left: 0;
    margin-top: 25vw;
    padding: 0 4vw;
  }
}

.footer {
  border-top: solid 5px #3797a4;
  margin-top: 120px;
  padding-top: 60px;
}

.footer__inner {
  color: #3797a4;
  position: relative;
}

.footer__logo {
  font-family: "Luckiest Guy";
  font-size: 40px;
}

.footer__info {
  font-weight: bold;
  line-height: 2.5;
  margin-top: 25px;
}

.footer__sns {
  position: absolute;
  right: 0;
  top: 0;
}

.footer__copyright {
  display: inline-block;
  font-family: "Luckiest Guy";
  font-size: 16px;
  line-height: 2.5;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 20vw;
  }
  .footer__logo {
    font-size: 8vw;
  }
  .footer__info {
    font-size: 3.5vw;
    margin-top: 4vw;
  }
  .footer__sns {
    margin-top: 6vw;
    position: relative;
  }
  .footer__copyright {
    font-size: 3.5vw;
    margin-top: 6vw;
  }
}

.header {
  bottom: 0;
  left: 0;
  min-height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 16.837vw;
  z-index: 20;
}

.header__inner {
  font-family: "Luckiest Guy";
  letter-spacing: 0.05em;
  text-align: center;
}

.header__box {
  background-color: #fbf876;
  padding: 0 5px 40px;
}

.header__logo {
  margin: 0 auto;
  width: 100%;
}

.header__logo a {
  display: inline-block;
}

.header__info {
  background-color: #3797a4;
  color: #fff;
  padding: 40px 0;
}

.header__sns {
  background-color: #8dcbbe;
  color: #fff;
  padding: 1.464vw 0;
}

.header__contact {
  background-color: #e4e4e4;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 25px 0;
  width: 100%;
}

/*--- tab ---*/
@media screen and (max-width: 1023px) {
  .header {
    border-bottom: 2px solid #fff;
    height: 25vw;
    min-height: auto;
    width: 100%;
  }
  .header__inner {
    display: flex;
    height: 100%;
  }
  .header__box {
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 25vw;
    z-index: 21;
  }
  .header__logo {
    height: 100%;
  }
  .header__logo a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  .header__logo img {
    width: 85%;
  }
  .header__info {
    padding: 0;
    width: 100%;
  }
  .header__sns, .header__contact, .header__nav {
    display: none;
  }
}

.main {
  padding: 0 2.5%;
}

@media screen and (max-width: 1023px) {
  .main {
    padding: 0;
  }
}

.c-btn {
  display: inline-block;
  max-width: 100%;
}

.c-btn--primary {
  background-color: #3797a4;
  border-radius: 20px;
  color: #fff;
  font-family: "Luckiest Guy";
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 400px;
}

@media screen and (max-width: 1023px) {
  .c-btn--primary {
    font-size: 3.5vw;
  }
}

.c-card {
  margin-right: 3.125%;
  position: relative;
  width: 31.25%;
}

.c-card:nth-of-type(3n) {
  margin-right: 0;
}

.c-card:nth-of-type(n + 4) {
  margin-top: 50px;
}

.c-card__inner {
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.c-card__inner::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.c-card__box {
  position: absolute;
}

@media screen and (max-width: 1023px) {
  .c-card {
    margin: 0 auto;
    width: 95%;
  }
  .c-card:nth-of-type(3n) {
    margin-right: auto;
  }
  .c-card__inner {
    padding-bottom: 90%;
  }
}

.c-flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .c-flex {
    display: block;
  }
}

.c-flex--column {
  display: flex;
  flex-direction: column;
}

.c-flex--ai-flex-start {
  align-items: flex-start;
}

.c-flex--jc-center {
  justify-content: center;
}

.c-flex--jc-space-between {
  justify-content: space-between;
}

.c-flex--jc-space-around {
  justify-content: space-around;
}

.c-heading {
  color: #3797a4;
  font-family: "Luckiest Guy";
  font-size: 4.5vw;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

.c-heading:not(.about__ttl) {
  margin-bottom: 35px;
}

@media screen and (max-width: 1023px) {
  .c-heading {
    font-size: 8vw;
  }
  .c-heading:not(.about__ttl) {
    margin-bottom: 5vw;
  }
}

.c-section {
  padding-top: 120px;
}

@media screen and (max-width: 1023px) {
  .c-section {
    padding-top: 20vw;
  }
}

.c-sns-box__item + .c-sns-box__item {
  margin-left: 0.878vw;
}

@media screen and (max-width: 1023px) {
  .c-sns-box__item + .c-sns-box__item {
    margin-left: 3vw;
  }
}

.footer-sns__list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.drawer {
  border-left: 2px solid #fff;
  bottom: 0;
  display: none;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 25vw;
}

@media screen and (max-width: 1023px) {
  .drawer {
    display: block;
  }
  .drawer__checkbox {
    display: none;
  }
  .drawer__icon {
    cursor: pointer;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 8vw;
    z-index: 40;
  }
  .drawer__icon-parts, .drawer__icon-parts:before, .drawer__icon-parts:after {
    background-color: #fff;
    bottom: 0;
    display: block;
    height: 0.65vw;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .drawer__icon-parts:before, .drawer__icon-parts:after {
    content: " ";
  }
  .drawer__icon-parts:before {
    top: -6vw;
  }
  .drawer__icon-parts:after {
    top: 6vw;
  }
  .drawer__menu {
    -webkit-overflow-scrolling: touch;
    background: #3797a4;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-top: 25vw;
    max-width: 100%;
    overflow-y: auto;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    z-index: 40;
  }
  .drawer__list {
    min-height: calc(100vh - 25vw);
    padding: 5vw;
    text-align: center;
  }
  .drawer__item {
    color: #fff;
    font-size: 25px;
  }
  .drawer__btn a {
    background: #fff;
    border-radius: 20px;
    color: #3797a4;
    font-weight: 900;
    letter-spacing: 1.4px;
    line-height: 1.4;
    padding: 20px 0;
    width: 250px;
  }
  .drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts {
    background: transparent;
  }
  .drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts:before {
    background-color: #fff;
    top: 0;
    transform: rotate(-45deg);
  }
  .drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts:after {
    background-color: #fff;
    top: 0;
    transform: rotate(45deg);
  }
  .drawer__checkbox:checked ~ .drawer__overlay {
    opacity: 0.3;
    pointer-events: auto;
  }
  .drawer__checkbox:checked ~ .drawer__menu {
    right: 0;
  }
  .drawer__icon-parts, .drawer__icon-parts:after, .drawer__icon-parts:before, .drawer__menu {
    transition: all 0.7s;
  }
}

.gnav__item {
  line-height: 1.36;
}

.gnav__item + .gnav__item {
  margin-top: 25px;
}

.gnav a {
  position: relative;
}

.gnav a::after {
  background: #333;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
  width: 100%;
}

.gnav a:hover::after {
  transform: scale(1, 1);
}

.header-info__area {
  font-size: 18px;
}

.header-info__time {
  font-size: 14px;
  margin-top: 25px;
}

.header-info__time + .header-info__time {
  margin-top: 10px;
}

@media screen and (max-width: 1023px) {
  .header-info {
    position: relative;
  }
  .header-info__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .header-info__area {
    font-size: 4vw;
  }
  .header-info__time {
    font-size: 2.5vw;
  }
  .header-info__time + .header-info__time {
    margin-top: 1vw;
  }
}

.kv {
  padding: 2vw 0;
}

.kv__inner {
  font-family: "Luckiest Guy";
  letter-spacing: 0.05em;
  line-height: 1.2;
  position: relative;
}

.kv__item img {
  -o-object-fit: cover;
  border-radius: 30px;
  height: calc(100vh - 68px);
  object-fit: cover;
  width: 100%;
}

.kv__box {
  bottom: 3.294vw;
  color: #fff;
  position: absolute;
  right: 5.124vw;
}

.kv__ttl {
  font-size: 7vw;
}

.kv__subttl {
  font-size: 2.5vw;
  margin-top: 1.317vw;
}

/*-- tab --*/
@media screen and (max-width: 1023px) {
  .kv {
    padding: 5vw 0;
  }
  .kv__item img {
    height: calc(100vh - 35vw);
  }
  .kv__box {
    bottom: 30px;
    right: 15px;
  }
  .kv__ttl {
    font-size: 10vw;
  }
  .kv__subttl {
    font-size: 5vw;
  }
}

@media screen and (max-width: 767px) {
  .kv__item img {
    height: 69vw;
  }
}

.about {
  padding-bottom: calc(60px + 2vw);
  padding-top: 60px;
}

.about__box {
  color: #3797a4;
  width: 40%;
}

.about__box + .about__box {
  border-left: 3px solid #3797a4;
  padding-left: 4vw;
  width: 60%;
}

.about__subttl {
  font-size: 3.5vw;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1vw;
}

.about__txt {
  font-weight: bold;
  line-height: 2.5;
  margin: 50px 0;
}

/*--- tab ---*/
@media screen and (max-width: 1023px) {
  .about {
    padding-bottom: 15vw;
    padding-top: 10vw;
  }
  .about__box {
    width: 100%;
  }
  .about__box + .about__box {
    border: none;
    border-top: 1px solid #3797a4;
    margin-top: 8vw;
    padding-left: 0;
    width: 100%;
  }
  .about__subttl {
    font-size: 3.5vw;
  }
  .about__subttl br {
    display: none;
  }
  .about__txt {
    font-size: 3.5vw;
    margin: 8vw 0 0;
  }
}

.access__map {
  /* = height ÷ width × 100 */
  border: solid 5px #3797a4;
  border-radius: 30px;
  overflow: hidden;
  padding-top: 35%;
  position: relative;
  width: 100%;
}

.access__map iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.access__inner {
  margin-top: 40px;
}

.access__box {
  font-weight: bold;
  width: 42%;
}

.access__box img {
  border-radius: 30px;
  width: 96%;
}

.access__box + .access__box {
  border-left: 3px solid #3797a4;
  padding-left: 4vw;
  width: 58%;
}

.access__info {
  color: #3797a4;
  line-height: 2.5;
}

@media screen and (max-width: 1023px) {
  .access__inner {
    margin-top: 8vw;
  }
  .access__map {
    padding-top: 60%;
  }
  .access__box {
    width: 100%;
  }
  .access__box + .access__box {
    border: none;
    border-top: 1px solid #3797a4;
    margin-top: 8vw;
    padding-left: 0;
    padding-top: 8vw;
    width: 100%;
  }
  .access__box img {
    width: 100%;
  }
  .access__info {
    font-size: 3.5vw;
  }
}

.menu__image {
  border: solid 5px #3797a4;
  border-radius: 30px;
  overflow: hidden;
}

.news-card__link {
  border-radius: 30px;
}

.news-card__link::before {
  background-color: #000;
  border-radius: 30px;
  opacity: 0.3;
}

.news-card__box {
  bottom: 40px;
  color: #fff;
  font-family: ProximaNova;
  font-weight: 800;
  left: 20px;
}

.news-card__date {
  font-size: 14px;
  line-height: 1.2;
}

.news-card__ttl {
  line-height: 1.5;
  margin-top: 10px;
}

@media screen and (max-width: 1023px) {
  .news-card__box {
    bottom: 20px;
  }
  .news-card__date {
    font-size: 3vw;
  }
  .news-card__ttl {
    font-size: 3.5vw;
  }
}

.news__btn {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .news__btn {
    margin-top: 10vw;
  }
  .news__item + .news__item {
    margin-top: 8vw;
  }
}

.service-card__inner {
  border-radius: 30px;
}

.service-card__inner::before {
  border-radius: 30px;
}

.service-card__inner--01 {
  background-image: url(../images/home/service_monthly.png);
}

.service-card__inner--02 {
  background-image: url(../images/home/service_event.png);
}

.service-card__inner--03 {
  background-image: url(../images/home/service_consignment-sale.png);
}

.service-card__inner--04 {
  background-image: url(../images/home/equipment_pc.png);
}

.service-card__inner--05 {
  background-image: url(../images/home/equipment_boardgame.png);
}

.service-card__inner--06 {
  background-image: url(../images/home/equipment_animal.png);
}

.service-card__box {
  background-color: #3797a4;
  border-radius: 0 0 30px 30px;
  bottom: 0;
  padding: 8% 0;
  text-align: center;
  width: 100%;
}

.service-card__ttl {
  color: #fff;
  font-family: ProximaNova;
  font-weight: 800;
  line-height: 2;
}

.service-card__desc {
  color: #3797a4;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  margin-top: 15px;
}

@media screen and (max-width: 1023px) {
  .service-card__ttl {
    font-size: 3.5vw;
  }
  .service-card__desc {
    font-size: 3vw;
    margin-top: 4vw;
  }
}

@media screen and (max-width: 1023px) {
  .service__item + .service__item {
    margin-top: 10vw;
  }
}

.wpcf7 label {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1.4px;
  line-height: 1.4;
}

.wpcf7 .your-name,
.wpcf7 .your-email {
  display: inline-block;
  margin-left: 48px;
  width: calc(100% - 100.2px);
}

.wpcf7 .wpcf7-submit {
  color: #fff;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  background-color: #fff;
  color: #000;
  letter-spacing: 1.4px;
  padding: 20px 15px;
  width: 100%;
}

.wpcf7 input[type="text"][type="text"], .wpcf7 input[type="text"][type="email"],
.wpcf7 input[type="email"][type="text"],
.wpcf7 input[type="email"][type="email"],
.wpcf7 textarea[type="text"],
.wpcf7 textarea[type="email"] {
  border-radius: 0 15px 15px 0;
}

.wpcf7 textarea {
  border-radius: 0 0 15px 15px;
  min-height: 380px;
  padding: 20px 15px;
  resize: none;
}

.wpcf7__row {
  overflow: hidden;
}

.wpcf7__row:not(:last-of-type) {
  background-color: #3797a4;
  border: solid 6px #3797a4;
  border-radius: 15px;
}

.wpcf7__row:not(:last-of-type) + .wpcf7__row:not(:last-of-type) {
  margin-top: 20px;
}

.wpcf7__row:not(:last-of-type):not(:nth-of-type(3)) {
  padding-left: 48px;
}

.wpcf7__row:last-of-type {
  display: inherit;
  margin: 45px auto 0;
  text-align: center;
}

.wpcf7__textarea-label {
  display: inline-block;
  padding: 20px 0 20px 48px;
}

@media screen and (max-width: 1023px) {
  .wpcf7__row:last-of-type {
    margin-top: 12vw;
  }
  .wpcf7__row:not(:last-of-type) + .wpcf7__row:not(:last-of-type) {
    margin-top: 4vw;
  }
  .wpcf7__row:not(:last-of-type):not(:nth-of-type(3)) {
    padding-left: 5vw;
  }
  .wpcf7__row label {
    font-size: 3.5vw;
  }
  .wpcf7__row .your-name,
  .wpcf7__row .your-email {
    margin-left: 5vw;
    width: calc(100% - 16.81vw);
  }
  .wpcf7__textarea-label {
    padding: 5vw 2vw;
  }
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
/*# sourceMappingURL=sourcemaps/style.css.map */
