.footer {
	margin-top: 120px;
	border-top: solid 5px #3797a4;
	padding-top: 60px;
	&__inner {
		color: $color-primary;
		position: relative;
	}
	&__logo {
		font-family: $font-family-lukiest;
		font-size: 40px;
	}
	&__info {
		font-weight: bold;
		margin-top: 25px;
		line-height: 2.5;
	}
	&__sns {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__copyright {
		font-family: $font-family-lukiest;
		font-size: 16px;
		line-height: 2.5;
		margin-top: 30px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}

.footer {
	@include mq(tab) {
		margin-top: 20vw;
		&__logo {
			font-size: 8vw;
		}
		&__info {
			margin-top: 4vw;
			font-size: 3.5vw;
		}
		&__sns {
			margin-top: 6vw;
			position: relative;
		}
		&__copyright {
			margin-top: 6vw;
			font-size: 3.5vw;
		}
	}
}
