/* media query
---------------------*/
$layout-width-inner: 1024px;
$breakpoints: (
	sp: "screen and (max-width: 767px)",
	tab: "screen and (max-width: #{$layout-width-inner - 1px})",
	pc: "screen and (min-width: #{$layout-width-inner})",
);

@mixin mq($breakpoint) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
