.c-btn {
	display: inline-block;
	max-width: 100%;
}

.c-btn--primary {
	font-family: $font-family-lukiest;
	letter-spacing: 0.05em;
	color: #fff;
	border-radius: 20px;
	line-height: 1.5;
	background-color: $color-primary;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 400px;
}
