.c-card {
	width: 31.25%;
	position: relative;
	margin-right: 3.125%;
	overflow: hidden;
	@include anime-zoomin;
	&:nth-of-type(3n) {
		margin-right: 0;
	}
	&:nth-of-type(n + 4) {
		margin-top: 50px;
	}

	&__inner {
		position: relative;
		background-size: cover;
		background-position: center;
		display: inline-block;
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 30px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #000;
			opacity: 0.3;
			border-radius: 30px;
		}
	}
	&__box {
		position: absolute;
		font-family: ProximaNova;
		top: 70%;
		left: 1.2vw;
		right: 1.2vw;
		color: #fff;
	}
	&__date {
		font-size: 1vw;
		line-height: 1.2;
	}
	&__ttl {
		font-size: 1.2vw;
		line-height: 1.5;
		margin-top: 10px;
	}
}

.c-card {
	@include mq(tab) {
		width: 95%;
		margin: 0 auto;
		& + & {
			margin-top: 8vw;
		}
		&:nth-of-type(3n) {
			margin-right: auto;
		}
		&__inner {
			padding-bottom: 90%;
		}
		&__box {
			top: auto;
			bottom: 6vw;
			left: 4vw;
			right: 4vw;
		}
		&__date {
			font-size: 3vw;
		}
		&__ttl {
			font-size: 3.5vw;
		}
	}
}
