.c-card {
	width: 31.25%;
	position: relative;
	margin-right: 3.125%;
	&:nth-of-type(3n) {
		margin-right: 0;
	}
	&:nth-of-type(n + 4) {
		margin-top: 50px;
	}
	&__inner {
		position: relative;
		background-size: cover;
		background-position: center;
		display: inline-block;
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	&__box {
		position: absolute;
	}
}

.c-card {
	@include mq(tab) {
		width: 95%;
		margin: 0 auto;
		&:nth-of-type(3n) {
			margin-right: auto;
		}
		&__inner {
			padding-bottom: 90%;
		}
	}
}
