.c-flex {
	display: flex;
	align-items: center;
}

.c-flex--column {
	display: flex;
	flex-direction: column;
}

.c-flex--jc-center {
	justify-content: center;
}

.c-flex--jc-space-between {
	justify-content: space-between;
}

.c-flex--jc-space-around {
	justify-content: space-around;
}
