.c-sns-box {
	&__item {
		&:hover {
			animation: bound 0.3s ease-in-out infinite alternate;
		}
		& + & {
			margin-left: 0.878vw;
		}
	}
	@include mq(tab) {
		&__item {
			& + & {
				margin-left: 3vw;
			}
		}
	}
}
