.kv {
	padding: 2vw 0;

	&__inner {
		font-family: $font-family-lukiest;
		letter-spacing: 0.05em;
		position: relative;
		line-height: 1.2;
	}

	&__item {
		img {
			width: 100%;
			height: calc(100vh - 68px);
			object-fit: cover;
			border-radius: 30px;
		}
	}

	&__box {
		color: #fff;
		position: absolute;
		bottom: 3.294vw;
		right: 5.124vw;
	}

	&__ttl {
		font-size: 7vw;
	}

	&__subttl {
		font-size: 2.5vw;
		margin-top: 1.317vw;
	}
}

/*-- tab --*/
.kv {
	@include mq(tab) {
		padding: 5vw 0;
		&__item {
			img {
				height: calc(100vh - 35vw);
			}
		}

		&__box {
			bottom: 30px;
			right: 20px;
		}

		&__ttl {
			font-size: 9vw;
		}

		&__subttl {
			font-size: 4.5vw;
		}
	}
}

.kv {
	@include mq(sp) {
		&__item {
			img {
				height: 69vw;
			}
		}
	}
}
